[Unit]
Description=to_backup_ip_address_on_boot
After=network-online.target

[Service]
Type=simple
ExecStart=/home/student334/Documents/cs334/backup.sh
User=student334

[Install]
WantedBy=default.target